.header {

    &__container {
        border: 1px solid #282828;
    }
}



.burger__container {
    padding: 20px !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}