.card-container {
  max-width: 100%;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.02);
  }
}

.logs {
  display: flex;
  align-items: center;

  svg {
    width: 32px;
    height: 32px;
    margin-left: -16px; // уменьшаем перекрытие для мобильных
    position: relative;

    &:nth-child(1) {
      z-index: 10;
    }
    &:nth-child(2) {
      z-index: 20;
    }
    &:nth-child(3) {
      z-index: 30;
    }
    &:nth-child(4) {
      z-index: 40;
    }
    &:nth-child(5) {
      z-index: 50;
    }
  }
}

.link__title {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: #cbacf9;
  }
}

/* Адаптивность под мобилки */
@media (max-width: 640px) {
  .logs svg {
    width: 22px;
    height: 22px;
    margin-left: -8px;
  }

  .card__text {
    width: 100% !important;
  }

  .link__title {
    font-size: 14px !important;
  }
}